/* - Dark Blue (footer background): hsl(216, 53%, 9%)

- Dark Blue (intro and email sign up background): hsl(217, 28%, 15%)

- Light Red (error): hsl(0, 100%, 63%)

 */

:root {
  --darkest-blue: hsl(219, 30%, 18%);
  --dark-blue: hsl(218, 28%, 13%);
  --white: hsl(0, 0%, 100%);
  --blue:  hsl(198, 60%, 50%);
  --cyan: hsl(176, 68%, 64%);
  --light-red: hsl(0, 100%, 63%);
}

body {
  color: var(--white);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: var(--dark-blue);
  line-height: 1.5;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
nav {
  font-family: "Raleway", sans-serif;
}

.primary-btn {
  background: linear-gradient(to right, var(--blue), var(--cyan));
  padding: 12px 48px;
  border-radius: 999px;
  color: black;
  cursor: pointer;
  font-size: 14px;
}

.primary-btn:hover {
  background: linear-gradient(to right, var(--cyan), var(--blue));
}

.container {
  width: 94%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

/* ! HEADER */
header {
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 36px;
}

nav a {
  font-size: 14px;
  letter-spacing: 2px;
}

#sign:hover {
 color: var(--light-red);
}

nav a:hover {
  color: var(--cyan);
}

/*  ! HERO */
#hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  max-width: 75ch;
  /* height: 100vh; */
  margin-bottom: 92px;
}

#hero .hero-img {
  display: flex;
  justify-content: center;
}

#hero h1 {
  font-size: 42px;
}

#hero p {
  font-size: 18px;
  opacity: 0.5;
}

/*  ! FEATURES */
#features {
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 150px;
  margin-top: 250px;
}

#features .feature-card {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: calc(50% - 12px);
  min-width: 315px;
}

#features .feature-card h3 {
  font-size: 22px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}

#features .feature-card p {
  font-size: 18px;
  opacity: 0.5;
}

#features .feature-card button {
  margin-top: 25px;
  background: linear-gradient(to right, var(--cyan), var(--blue));
  color: black;
  font-size: 14px;
}

#features .feature-card button:hover {
  background: linear-gradient(to right, var(--blue), var(--cyan));
}

/*  ! THİRD PAGE */
#third-page {
  /* height: 90vh; */
  display: flex;
  align-items: center;
  gap: 34px;
  margin-bottom: 200px;
  margin-top: 300px;
}

#third-page p {
  margin-bottom: 15px;
  font-size: 20px;
  opacity: 0.5;
  font-weight: 400;
}

#third-page h2 {
  font-size: 38px;
  font-weight: 700;
  max-width: 15ch;
}

#third-page a {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 18px;
  color: var(--cyan);
  text-decoration: underline;
}

/* ! QUOTES */
#quotes {
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
}

#quotes .quote-card {
  background: var(--darkest-blue);
  padding: 24px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#quotes .quote-card p {
  margin-bottom: 14px;
  font-size: 16px;
}

#quotes .quote-card .profile-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
} 

#quotes .quote-card .profile-img {
  width: 48px;
  height: 48px;
  border-radius: 999px;
  overflow: hidden;
}

#quotes .quote-card .profile-wrapper h5 {
  color: var(--cyan);
}

#quotes .quote-card .profile-wrapper h6 {
  font-size: 12px;
  opacity: 0.75;
  color: var(--cyan);
}

/* ! call-to-action */
#call-to-action {
  margin-bottom: 80px;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: var(--darkest-blue);
  padding: 48px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}


#call-to-action h2 {
  font-size: 20px;
  margin-bottom: 8px;
  color: var(--cyan);
}

#call-to-action p {
  font-size: 16px;
}

#call-to-action form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 14px;
}

#call-to-action .input-wrapper {
  flex: 1;
  height: 40px;
  border-radius: 999px;
  overflow: hidden;
}

#call-to-action .input-wrapper input {
  height: 100%;
  width: 100%;
  text-indent: 12px;
}

#call-to-action .input-wrapper input::placeholder {
  opacity: 0.75;
  color: var(--darkest-blue);
}

/* ! FOOTER  */
footer {
  /* height: 250px; */
  background-color: var(--darkest-blue);
  padding-top: 128px;
  padding-bottom: 72px;
  margin-top: 250px;
}

footer .logo {
  margin-bottom: 48px;
}

footer .footer-bottom {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.adress {
  display: flex;
  align-items: center;
  gap: 7px;
}

.com .item {
  display: flex;
  align-items: center;
  gap: 7px;
  color: var(--cyan);
}

.footer-menu {
  display: flex;
  flex-direction: column;
  color: var(--cyan);
}

@media (max-width:475px) {
  footer .footer-bottom {
    flex-direction: column;
  }
}